@import url("hover.css");

body, h1, h2, h3, h4, h5, h6, p {
    color: #fff !important;
    overflow: hidden;
}

.background {
    position:fixed;
    background:url(../img/background.png); !important;
    -webkit-animation:300s scroll infinite linear !important;
    -moz-animation:300s scroll infinite linear !important;
    -o-animation:300s scroll infinite linear !important;
    -ms-animation:300s scroll infinite linear !important;
    animation:300s scroll infinite linear !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    height:100% !important;
}

.vultr {
    position: relative;
    min-height: 150px;
  }
.vultr-text {
    padding-bottom: 0.5em;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}
