@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgb(41, 41, 41);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
}

#content {
    padding-top: 30px;
}

* {
    margin: 0.5px;
}

h1 {
    font-weight: 500;
    font-size: 2.5em;
}

h2 {
    font-weight: 600;
    padding-top: 20px;
}

h3 {
    font-size: 1em;
    font-weight: 500; 
}

p {
    padding-top: 3px;
    font-size: .9em;
}

a {
    color: rgb(53, 139, 252);
    text-decoration: none;
}

.footer {
    margin-top: 2em;
    margin-bottom: 2em;
    color: rgb(121, 121, 121);
}

.footer a {
    color: rgb(54, 121, 209);
}